<div class="container padding-content" style="padding-top: 150px;">
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Barcode">
        </div>
    </form>

    <!--START: Table-->
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Costo</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">15485151</th>
                <td>Mark</td>
                <td>$ 12.50</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">2454852</th>
                <td>Jacob</td>
                <td>$ 10</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">38785155</th>
                <td>Larry</td>
                <td>$ 5.90</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
    <!--END: Table-->
    <div class="line"></div>

  <div>
    <label for="exampleInputEmail1">Total: $100</label>
    <form>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pago por cliente">
    </form>
    <label for="exampleInputEmail1">Cambio: $100</label>
  </div>

</div>